#User and Group IDs
# Run `id $USER` on the host to find these values
PGID=1000
PUID=1000
TZ=Europe/London

#Directories
# Host paths bind-mounted into containers that need them
AUDIOBOOKS=/mnt/media/audiobooks
DOWNLOADS=/mnt/downloads
MEDIA_ROOT=/mnt/media
MUSIC=/mnt/media/music
PODCASTS=/mnt/media/podcasts

#Radarr
RADARR_API_KEY=changeme
RADARR_URL=http://192.168.1.10:7878

#Sonarr
SONARR_API_KEY=changeme
SONARR_URL=http://192.168.1.10:8989

#Prowlarr
PROWLARR_URL=http://192.168.1.10:9696

#qBittorrent
QBITTORRENT_URL=http://192.168.1.10:8081

#Autobrr
AUTOBRR_URL=http://192.168.1.10:7474

#Audiobookshelf
AUDIOBOOKSHELF_URL=http://192.168.1.10:13378

#Gotify
GOTIFY_URL=http://192.168.1.10:8085

#Nginx Proxy Manager
NGINX_PROXY_MANAGER_URL=http://192.168.1.10:81

#Router
ROUTER_URL=http://192.168.1.1

#Glance
PROXMOX_NODE=pve
PROXMOX_URL=https://192.168.1.20:8006
PROXMOX_API_TOKEN=user@pam!tokenid=00000000-0000-0000-0000-000000000000
TRUENAS_URL=https://192.168.1.30
TRUENAS_API_KEY=changeme
ADGUARD_USERNAME=admin
ADGUARD_PASSWORD=changeme
ADGUARD_URL=http://192.168.1.40
